body{
    margin: 0px;
    padding: 0px;
    background:#dbdbdb;
    height: 100vh;
}

.sidebar{
    background: #eeeded;
    max-width: 250px;
    height: 100%;
    box-shadow: 0px 8px 5px #acacac;
    margin: 0;
    display: flex;
    flex-direction: column;
    transition: width 0.3s;
}

.sidebar ul li.selected{
    background: #B9B4C7;
    border-radius: 4px;
}

.sidebar ul li.selected a, .sidebar ul li.selected a:hover {
    color: #352F44;
}

.sidebar ul li a{
    color: #B9B4C7;
}

.h-color{
    color: #B9B4C7;
}


#side_nav{
    margin-left: -251px;
}
#side_nav.active{
    margin-left: 0;
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
}

.navbar{
    background: #5C5470 !important;
    z-index: 3;
    padding-top: 10px;
}

.left-region{
    padding: 0;
    margin: 0;
}

#searchbar-nav input{
    height: 38px;
    background: #eeeded;
}

#searchbar-nav span i {
    color:#352F44
}

.open-button{
    background: transparent;
    border: none;
    color: #B9B4C7;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.input-group{
    height: fit-content;
    padding: 20px;
    position: relative;
    padding-bottom: 0;
    margin-bottom: 0 !important;
}

.input-group input.input-todo{
    background:#eeeded;
    border: none;
    box-shadow: 0px 2px 5px #acacac;
    color: #221e2b !important;
    padding: 15px;
}

.input-group input:focus{
    background:#eeeded;
    border: none;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.input-group input::placeholder{
    color: #5C5470;
}

.main-container{
    display: flex;
    flex-direction: column;
}
.main-container.active{
    margin-left: 250px;  
    width:calc(100% - 250px)
}

.main-container.active-right{
    margin-right: 250px;
    width:calc(100% - 250px)
}

.main-container.active.active-right{
    margin-left: 250px;
    margin-right: 250px;
    width: calc(100% - 500px)
}

#popupMenu {
    display: none;
    background:#e4e4e4;
    margin-top: 0px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
    padding-top: 0;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 3;
    /* border-top: solid 0.5px #eeeded;  */
}


.popup-button {
    flex-direction: row;
}

.popup-button .btn{
    background: transparent;
    color: #352F44;
    font-weight: 500;
    border-color: transparent;
}

.popup-button .btn:hover{
    background:#B9B4C7;
}

.dropdown-title{
    padding-left: 16px;
    padding-top: 8px;
    font-weight: 500;
}

.repeat-dropdown li a.selected{
    background:#B9B4C7;
}

.due-date-dropdown li a.selected{
    background:#B9B4C7;
}

.display-todo{
    position: relative;
    margin: 20px 20px;
    padding: 10px;
    display: block;
    background: #eeeded;
    border-radius: 4px;
    box-shadow: 0px 2px 5px #acacac;
}

.display-todo .check-box i {
    position: absolute;
    top: 10px;
    left: 10px;
}
.display-todo .check-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding:0px,
}
.display-todo .todo-datas button {
    background: transparent;
    border: none;
    padding-left: 10px;
}

.check-box:hover{
    cursor: pointer;
}

.bi-check2{
    color: transparent;
}

.bi-check2.complete{
    color:#352F44;
}

.todo-details{
    background: #eeeded;
    max-width: 250px;
    height: 100%;
    box-shadow: 0px 8px 5px #acacac;
    display: none;
    flex-direction: column;
}

.todo-details.active{
    margin-right: 0;
    z-index: 2;
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
}

.todo-details .check-box{
    display: flex;
    justify-content: center;
    text-align: left;
}

.todo-details .check-box i{
    position: absolute;
    margin-top: 10px;
}
.todo-details .title, .todo-due, .todo-repeat{
    display: flex;
    margin-top: 30px;
    margin-bottom: 10px;
    background: #f7f7f7;
    justify-content: space-between;
    padding: 5px;
}

.todo-details .title .input-group{
    margin-left: 30px;
    padding: 0px;

}
.todo-details div, .todo-details input{
    background: #f7f7f7;
    border: none;
}

.button-wrapper .text{
    margin-left: 20px;
    margin-bottom: 10px;
    color: #5C5470;
    font-weight: 400;
    margin-top: 7px;
}
.button-wrapper .bi{
    margin-top: 7px;
    color:#5C5470 ;
}

.del-group{
    padding: 5px;
    justify-content: space-between;
    background: transparent !important;
    margin-top: 450px;
}
.del-group div{
    background: transparent;
}
.del-group i{
    font-size: larger;
    color: #352F44;
}
.created-at{
    padding-top: 6px;
    font-size: smaller;
}
.due-value{
    font-size: 10px;
    
}
/* @media(max-width: 767px){
    #side_nav{
        margin-left: -250px;
        position: fixed;
        min-height: 100vh;
        z-index: 2;
    }
    #side_nav.active{
        margin-left: 0;
    }
} */

